.app-photoframe .app-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color-main-background);
  padding: 1.5rem;
}

.app-photoframe p, .app-photoframe ul {
  margin-top: 1rem;
}

.app-photoframe .list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-photoframe .frame {
  border: 2px solid #00679e88;
  background-color: #00679e09;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.app-photoframe .frame img {
  width: 250px;
  object-fit: cover;
  margin: -1.5rem;
  margin-right: 0;
}

.app-photoframe h2 {
  margin: 0 0 .5rem;
}

.app-photoframe .frame h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 .5rem;
}

.app-photoframe .frame p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.app-photoframe .frame .actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: .5rem;
}

.app-photoframe label {
  display: inline-flex;
  align-items: center;
}

.app-photoframe .radio-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.app-photoframe input {
  height: auto;
  min-height: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.app-photoframe li {
  list-style-type: initial;
  margin-left: 1rem;
}

.app-photoframe .field-title {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.app-photoframe .field-title + * {
  margin-top: 0;
}

.app-photoframe .actions {
  margin-top: 1rem;
}

.app-photoframe .modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.app-photoframe .modal-backdrop.modal-backdrop--visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-photoframe .modal {
  background-color: var(--color-main-background);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 0px 10px 50px rgba(0,0,0,0.4);
}

@media (max-width: calc(550px + 3rem)) {
  .app-photoframe .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .app-photoframe .frame {
    flex-direction: column;
  }

  .app-photoframe .frame img {
    width: calc(100% + 3rem);
    margin-right: -1.5rem;
    margin-bottom: 0;
    aspect-ratio: 16/9;
  }
}

/* Utils */
.app-photoframe .flex {
  display: flex;
  gap: 1rem;
}

.app-photoframe .flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-photoframe .grow {
  flex-grow: 1;
}

.app-photoframe .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .app-photoframe .row {
    flex-direction: column;
    gap: 0;
  }  
}

.app-photoframe .col {
  flex: 1 1 1%;
}
