@import './fonts.css';

/* Global */
.app-photo_frames .app-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color-main-background);
  padding: 1.5rem;
}

.app-photo_frames p, .app-photo_frames ul {
  margin-top: 1rem;
}

.app-photo_frames h2 {
  margin: 0;
}

.app-photo_frames li {
  list-style-type: initial;
  margin-left: 1rem;
}

.app-photo_frames label {
  display: inline-flex;
  align-self: flex-start;
  user-select: none;
  align-items: center;

  * {
    cursor: pointer
  }
}

.app-photo_frames input {
  height: auto;
  min-height: 1.5rem;
  display: inline-flex;
  align-items: center;
}

/* Utils */
.app-photo_frames .flex {
  display: flex;
  gap: 1rem;
}

.app-photo_frames .grow {
  flex-grow: 1;
}

.app-photo_frames .text-center {
  text-align: center;
}